.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.button{
    font-size: 1.3em;
    background: #3498db;
    color: #fff;
    border: 0.25rem solid #3498db;
    border-radius: 5px;
    padding: 10px 50px;
    text-decoration: none;
    width: 200px;
}

.button:hover{
    background: #40a0e0;
    border: 0.25rem solid #40a0e0;
    cursor: pointer;
}

.input{
    font-size: 1.3em;
    background: #fff;
    color: rgb(14, 1, 1);
    border: 0.25rem solid #3498db;
    border-radius: 5px;
    padding: 10px 50px;

    width: 50vw;
    height: 3vh;
}

.container-search{
    display: flex;

    padding-top: 100px;
}

.container-result{
    display: flex;
    flex-direction: column;
}
